# 缓存文件
__pycache__/
*.pyc
*.pyo
.config/ppsspp/PSP/SYSTEM/CACHE/
.cache/

# 临时文件
*.filepart

# 超过 GitHub 100MB 限制的大文件
cores/mame_libretro.so

# 有问题的目录/文件
.config/emulationstation/themes/Crystal/

# 有问题的文件
joypads/USB gamepad           .cfg
joypads/usb gamepad           .cfg
